.newMovieForm {
    display: flex;
    flex-direction: column;
    margin: 5% 21%;
}

.newMovieFormBtnsContainer {
    display: flex;
    margin: auto;
}

.newMovieFormSubmitBtn {
    width: 100px;
}

.newMovieFormGoBackBtn {
    width: 100px;
}