.editMovieForm, .addNewMovieTimeForm {
    display: flex;
    flex-direction: column;
    margin: 5% 21%;
}

.editMovieFormBtnsContainer {
    display: flex;
    margin: auto;
}

.editMovieFormSubmitBtn {
    width: 100px;
    margin: auto;
}

.editMovieFormCancelBtn {
    width: 100px;
}