.editMovieForm, .addNewMovieTimeForm, .addNewReviewForm {
    display: flex;
    flex-direction: column;
    margin: 5% 21%;
}

.editMovieFormBtnsContainer, .comingSoonInput {
    display: flex;
    margin: auto;
}

.editMovieFormSubmitBtn {
    width: 100px;
    margin: auto;
}

.editMovieFormCancelBtn {
    width: 100px;
}

.movieTimeListHeader {
    text-align: center;
}